<section class="login flex justify-center items-center min-h-screen">
  <!-- Use flex and justify-center to horizontally center the content -->
  <div class="bg-white rounded-lg shadow-lg p-6 w-80">
    <!-- Content within the card -->
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <form action="/register" method="POST" class="space-y-8" method="POST">
        <% if (messages.error) { %>
          <span class="text-red-500 text-sm"><%= messages.error %></span>
        <% } %>
        <!-- Name input field -->
        <div>
          <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
          <div class="mt-2">
            <input
              id="name"
              name="name"
              value="<%= messages.name %>"
              type="name"
              autocomplete="name"
              placeholder="Enter your name"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 ring-gray-300 placeholder:text-gray-400 shadow-sm ring-1 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 focus:outline-none" 
            />
          </div>
        </div>
        <!-- Email input field -->
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
          <div class="mt-2">
            <input
              id="email"
              name="email"
              value="<%= messages.email %>"
              type="email"
              autocomplete="email"
              placeholder="Enter your email"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 focus:outline-none" 
            />
          </div>
        </div>

        <!-- Password input field with forgot password link -->
        <div class="mt-2"> <!-- Adjusted margin for password input -->
          <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          <div class="mt-1"> <!-- Added margin for the input -->
            <input
              id="password"
              name="password"
              type="password"
              autocomplete="current-password"
              placeholder="*****************"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 focus:outline-none" 
            />
          </div>
        </div>

        <!-- register button -->
        <div>
          <button
            type="submit"
            class="btn-primary flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Register 
          </button>
        </div>
      </form>

      <!-- Login link -->
      <p class="mt-10 text-center text-sm text-gray-500">
        Already have an account?
        <a href="/login" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
      </p>
    </div>
  </div>
</section>
